:root {
    --backgroundlight: @color8;
    --backgrounddark: #FFFFFF;
    --workspacesbackground1: @color8;
    --workspacesbackground2: #FFFFFF;
    --bordercolor: @color8;
    --textcolor1: @color8;
    --textcolor2: #FFFFFF;
    --textcolor3: #FFFFFF;
    --iconcolor: @color8;
}

