:root {
    --backgroundlight: var(--color8);
    --backgrounddark: #FFFFFF;
    --workspacesbackground1: var(--color8);
    --workspacesbackground2: #FFFFFF;
    --bordercolor: var(--color8);
    --textcolor1: var(--color8);
    --textcolor2: #FFFFFF;
    --textcolor3: #FFFFFF;
    --iconcolor: var(--color8);
}

