/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import '../../.cache/wal/colors-waybar.css';

@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #11111b;
@define-color main-fg #cdd6f4;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: transparent;
}

button {
    color: @foreground;
    background-color: @background;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: transparent;
    background-size: 20%;
}

button:hover {
    background-color: transparent;
    background-size: 25%;
    border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 15px 15px 0px 15px;
    margin : 0px 0px 0px 0px;
}

button:hover#logout {
    border-radius: 15px 0px 15px 15px;
    margin : 0px 0px 0px 0px;
}

button:hover#shutdown {
    border-radius: 15px 15px 15px 0px;
    margin : 0px 0px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 15px 15px 15px;
    margin : 0px 0px 0px 0px;
}

#lock {
    background-image: image(url("icons/lock.png"));
    border-radius: 15px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#logout {
    background-image: image(url("icons/logout.png"));
    border-radius: 0px 0px 0px 15px;
    margin : 0px 0px 0px 0px;
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
    border-radius: 0px 15px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#reboot {
    background-image: image(url("icons/reboot.png"));
    border-radius: 0px 0px 15px 0px;
    margin : 0px 0px 0px 0px;
}